@inject Fuselighter.Database.Models.StoreConfiguration StoreConfig
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @StoreConfig.StoreName</h1>
    <p>
        This home page will eventually display a list of the user's featured products, along with home page marketing copy that has been configured by the user via an Admin Dashboard.
    </p>
</div>
